.listeP{
  background-color: #1FB5AD;
  padding: 15px;
  min-height: 420px;
  max-height: 420px;
  -border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

.event-list li{
  cursor: pointer;
}