<div style="margin:15px;">   
    <form class="form-horizontal" id="ajoutUserForm">    
        <div class="form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control input-sm" placeholder="Nom" id="Nom" name="Nom">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control input-sm" placeholder="Prénom" id="Prenom" name="Prenom">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control input-sm" placeholder="Username" id="Username" name="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <select class="form-control input-sm">
                    <option value="1">Administrateur</option>
                    <option value="0">Simple Utilisateur</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control input-sm" placeholder="Mot de passe" id="Password" name="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control input-sm" placeholder="Confirmer le mot de passe" id="PasswordConfirm" name="PasswordConfirm">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" style="float:right;">Ajouter</button>
            </div>
        </div>
    </form>
</div>  