<header class="panel-heading tab-bg-dark-navy-blue">
    <ul class="nav nav-tabs nav-justified ">
        <li>
            <a data-toggle="tab" href="#overview">
                Consultations
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#job-history">
                Payements
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#settings">
                Editer
            </a>
        </li>
        <li class="active">
            <a data-toggle="tab" href="#consultationForm">
                Nouvelle Consultation
            </a>
        </li>
    </ul>
</header>
<div class="panel-body">
    <div class="tab-content tasi-tab">
        <div id="overview" class="tab-pane">
            <div class="row">
                <div class="col-md-8">
                    <div class="recent-act">
                        <h1>Consultations</h1>
                        <% _.each(col, function(consultation){ %>
                            <div class="activity-icon <% if(consultation.Type == "Consultation"){%> terques <%}else if(consultation.Type == "Contrôle"){%> green <%}%> ">
                                <i class="fa <% if(consultation.Type == "Consultation"){%> fa-stethoscope <%}else if(consultation.Type == "Contrôle"){%> fa-check-square-o <%}%> "></i>
                            </div>
                            <div class="activity-desk">
                                <h2><%= consultation.DateConsultation %></h2>
                                <p><%= consultation.Observations %></p>
                            </div>
                        <%}); %>
                        <!--<div class="activity-icon red">
                            <i class="fa fa-beer"></i>
                        </div>
                        <div class="activity-desk">
                            <h2 class="red">2 Hour Ago</h2>
                            <p>Completed Coffee meeting with <a href="#" class="terques">Stive Martin</a> regarding the Product Promotion</p>
                        </div>
                        <div class="activity-icon purple">
                            <i class="fa fa-tags"></i>
                        </div>
                        <div class="activity-desk">
                            <h2 class="purple">today evening</h2>
                            <p>3 photo Uploaded on facebook product page</p>
                            <div class="photo-gl">
                                <a href="#">
                                    <img src="images/sm-img-1.jpg" alt=""/>
                                </a>
                                <a href="#">
                                    <img src="images/sm-img-2.jpg" alt=""/>
                                </a>
                                <a href="#">
                                    <img src="images/sm-img-3.jpg" alt=""/>
                                </a>
                            </div>
                        </div>

                        <div class="activity-icon green">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="activity-desk">
                            <h2 class="green">yesterday</h2>
                            <p>Outdoor visit at <a href="#" class="blue">California State Route</a> 85 with <a href="#" class="terques">John Boltana</a> & <a href="#" class="terques">Harry Piterson</a> regarding to setup a new show room.</p>
                            <div class="loc-map">
                                location map goes here
                            </div>
                        </div>

                        <div class="activity-icon yellow">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="activity-desk">
                            <h2 class="yellow">12 december 2013</h2>
                            <p>Montly Regular Medical check up at Greenland Hospital.</p>
                        </div>-->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prf-box">
                        <h3 class="prf-border-head">Consultations non payées</h3>
                        <% 
                        TotalPayement = 0;
                        ConsultationPayee = 0;
                        TotalReste = 0 
                        %>
                        <% 
                        _.each(col, function(consultation){ 
                        pourcentage = consultation.Avance * 100 / consultation.Montant;
                        TotalPayement = parseInt(TotalPayement) + parseInt(consultation.Montant);
                        TotalReste = parseInt(TotalReste) + parseInt(consultation.Reste);
                        if(consultation.Reste == 0) ConsultationPayee++; 
                        %>
                            <div class=" wk-progress">
                                <div class="col-md-5"><%= consultation.DateConsultation %></div>
                                <div class="col-md-5">
                                    <div class="progress  ">
                                        <div style="width: <%= pourcentage %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar <% if(pourcentage < 40){ %> progress-bar-danger <% }else if(pourcentage < 75){ %> progress-bar-info <% }else{ %> progress-bar-success <% } %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"><%= pourcentage %>%</div>
                            </div>
                        <%}); %>
                    </div>
                    <div class="prf-box">
                        <h3 class="prf-border-head">Statistiques</h3>
                        <div class=" wk-progress pf-status">
                            <div class="col-md-8 col-xs-8">Consultations éffectuées</div>
                            <div class="col-md-4 col-xs-4">
                                <strong><% nbCol = _.size(col); %><%= nbCol %></strong>
                            </div>
                        </div>
                        <div class=" wk-progress pf-status">
                            <div class="col-md-8 col-xs-8">Consultations Payées</div>
                            <div class="col-md-4 col-xs-4">
                                <strong><%= ConsultationPayee %></strong>
                            </div>
                        </div>
                        <div class=" wk-progress pf-status">
                            <div class="col-md-8 col-xs-8">Total Payé</div>
                            <div class="col-md-4 col-xs-4">
                                <strong><%= TotalPayement %> Dh</strong>
                            </div>
                        </div>
                        <div class=" wk-progress pf-status">
                            <div class="col-md-8 col-xs-8">Total Réstant</div>
                            <div class="col-md-4 col-xs-4">
                                <strong><%= TotalReste %> Dh</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="job-history" class="tab-pane ">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-messages">
                        <h3>Take a Tour</h3>
                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        13 January 2013
                                    </div>
                                    <div class="second bg-terques ">
                                        Join as Product Asst. Manager
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->

                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        10 February 2012
                                    </div>
                                    <div class="second bg-red">
                                        Completed Provition period and Appointed as a permanent Employee
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->

                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        2 January 2011
                                    </div>
                                    <div class="second bg-purple">
                                        Selected Employee of the Month
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->

                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        4 March 2010
                                    </div>
                                    <div class="second bg-green">
                                        Got Promotion and become area manager of California
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        3 April 2009
                                    </div>
                                    <div class="second bg-yellow">
                                        Selected the Best Employee of the Year 2013 and was awarded
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->

                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        23 May 2008
                                    </div>
                                    <div class="second bg-terques">
                                        Got Promotion and become Product Manager and was transper from Branch to Head Office. Lorem ipsum dolor sit amet
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        14 June 2007
                                    </div>
                                    <div class="second bg-blue">
                                        Height Sales scored and break all of the previous sales record ever in the company. Awarded
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <div class="first">
                                        1 January 2006
                                    </div>
                                    <div class="second bg-green">
                                        Take 15 days leave for his wedding and Honeymoon & Christmas
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                    </div>
                </div>
            </div>
        </div>
        <div id="settings" class="tab-pane ">
            <div class="position-center">
            <form role="form" class="form-horizontal" id="editPatientForm">
                <div class="prf-contacts sttng">
                    <h2>Informations Personnelles</h2>
                </div>
                
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nom</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control input-sm" placeholder="Nom" id="lastName" name="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Prénom</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control input-sm" placeholder="Prénom" id="firstName" name="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label col-lg-3" for="inputSuccess">Sexe</label>
                        <div class="col-lg-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sexe" id="optionsRadios1" value="0" checked>Homme
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sexe" id="optionsRadios2" value="1">Femme
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Date de naissance</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-inline default-date-picker input-sm" placeholder="Date de naissance" id="dayBirth" name="dayBirth">
                        </div>
                    </div>

                <div class="prf-contacts sttng">
                    <h2>Contact</h2>
                </div>

                     <div class="form-group">
                        <label class="col-lg-3 control-label">Gsm</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control input-sm" placeholder="Gsm" id="gsm" name="gsm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Fixe</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control input-sm" placeholder="Fixe" id="tel" name="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Addresse</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" cols="60" rows="5" id="adress" name="adress"></textarea>
                        </div>
                    </div>
                
                <div class="prf-contacts sttng">
                    <h2>Autres</h2>
                </div>
               
                   <div class="form-group">
                        <label class="col-lg-3 control-label">Profession</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control input-sm" placeholder="Profession" id="job" name="job">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label col-lg-3" for="inputSuccess">Mutueliste</label>
                        <div class="col-lg-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="insurance" value="0" checked>Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="insurance" value="1">Non
                                </label>
                            </div>

                        </div>
                    </div>
                   <div class="form-group">
                        <label class="col-lg-3 control-label">Diagnostique</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" cols="60" rows="5" id="diagnostique" name="diagnostique"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-md-offset-3">
                            <br>
                            <button type="submit" class="btn btn-primary" style="float:right">Enregistrer les modifications</button>
                        </div>
                    </div>
             </form>
            </div>

        </div>

    </div>
</div>
